@model CarControl.Contract.CarDto

<div clsas="row">
    <div class="col">
        <div class="well">
            <div style="float: left; height: 100%">
                <img src="/Content/images.jpg" />
            </div>
            <div style="float: left; margin-left: 20px">
                <h4><font color="#888888">Подключенный авто</font> № @Model.CarId</h4>
                <hr />
                <h4><font color="#888888">Название:</font> @Model.Name</h4>
                <h4><font color="#888888">Напряжение АКБ:</font> @Model.Voltage В</h4>
                <h4><font color="#888888">Текущая скорость:</font> @Model.Speed км/ч</h4>
                <h4><font color="#888888">Температура:</font> @Model.Temp1 °C</h4>
                <p>
                    @Html.ActionLink("Пингануть", "Ping", new {id = Model.ConnectionId})
                    @Html.ActionLink("| Завести", "Start", new { id = Model.ConnectionId })
                </p>
            </div>
            <div style="clear:both"></div>
        </div>        
    </div>
</div>
